<div style="width:70%;margin:auto;">
  <div>
   <button class="btn btn-info" routerLink="/add-subject">Add more</button>
  </div>
  <h2>Subjects</h2>
  <table class="table table-bordered table-striped">
     <thead>
        <tr>
            <th>Subject</th>
            <th>Course</th>
            <th>Action</th>
        </tr>
     </thead>
     <tbody>
         <tr *ngFor="let subject of subjects;index as i">
             <td>{{subject.subjectName}}</td>
             <td>{{subject.courseName}}</td>
             <td>
                 <button type="button" class="btn btn-success" (click)="edit(subject.id)">Edit</button>
                 <button type="button" class="btn btn-danger" (click)="delete(i,subject.id)">Delete</button>
             </td>
         </tr>
     </tbody>
  </table>
</div>